{:paths ["src" "resources"]
 :deps {com.bucket4j/bucket4j_jdk17-core {:mvn/version "8.16.0"}
        com.rpl/proxy-plus {:mvn/version "0.0.9"}}
 :aliases
 {:dev {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                     com.datomic/peer {:mvn/version "1.0.6733"}
                     com.taoensso/timbre {:mvn/version "6.1.0"}
                     com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}}}
  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}}}
